.news {
  .item {
    border: 1px solid #f6f6f6;
    border-radius: 25px;

    .item__image {
      max-height: 150px;
      overflow: hidden;
    }

    .item__info {
      display: grid;
      gap: 20px;
      padding: 20px;

      h3 {
        color: #0d4c93;
      }
    }

    button {
      width: fit-content;
      border-radius: 25px;
      background-color: dodgerblue;
      color: white;
      margin-bottom: 20px;
      padding: 10px 30px;
    }
  }

  .carousel {
    margin-top: 30px;
  }
}
